<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div style="width:95%; display:flex; flex-direction:row; justify-content: flex-end; gap: 50px;">
        <h1><a href="login.html" class="orange-link smooth-text" style="text-decoration: none">Log In</a></h1>
        <h1><a  href="signup.html" class="orange-link smooth-text" style="text-decoration: none">Sign Up</a></h1>
    </div>
    <div style="height: 450px; display:flex; justify-content: center; align-items: center;">
        <h1 id="home-title">Home Page</h1>
    </div>
</body>
</html>