<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script src="/scripts/formsubmission.js"></script>

    <title>Log In</title>
</head>

<body>
    <h1><a class="backtohomelogin smooth-text" href="index.html">⇦ Back to Home</a></h1>
    <div class="centering-div">
        <div id="main-container-login">
            <h1 class="login-signup-title smooth-text">Login to your account</h1>
            <form id="loginform" class="login-signup-form" onsubmit="event.preventDefault(); SubmitLoginForm();">
                <input placeholder="Enter username" type="text" name="username" class="smooth-background">
                <input placeholder="Enter password" type="password" name="password" class="smooth-background">
                <button type="submit" class="smooth-background">Log in</button>
            </form>
            <h3>Don't have an account? <a class="orange-link smooth-text" href="signup.html">Sign up</a></h3>
        </div>
    </div>
</body>
</html>