<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/profilepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="decorativerectangle"></div>
    <div class="maincircle"></div>
    
    <div>
      <a class="button button:hover">Save</a>
    </div>

    <div style="width:95%; display:flex; flex-direction:row; justify-content: flex-end; gap: 50px;"> 
      <h1 class="settings-div">Settings</h1>
        <a href="mydetails.html" class="settings-div under-link">My details</a>
        <a href="plan.html" class="settings-div under-link">Plan</a>
    </div>

    <div class="rectanglemain">
      <h2 class="user"></h2>
        <input placeholder="Full Name" type="text" name="fullname" class="smooth-background">
        <input placeholder="Age" type="text" name="age" class="smooth-background">
        <input placeholder="Pronouns" type="text" name="pronouns" class="smooth-background">
    

      
      <h2 class="rectanglebio">Bio</h2>
        <h3>A short introduction of yourself</h3>
          <a class="bio"></a>
            <input type="text" name="bio" class="smooth-background">

      <h2 class="rectanglephoto">Upload photo</h2>
        <h3>This photo will be displayed on your profile</h3>
          <a class="circle"></a>
           <h4>Upload</h4>
           <h4>Delete</h4>
    </div>

    </body>
  </html>
  