<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="styles/profilepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="settings-div">
    <h1>Settings</h1>
      <a href="mydetails.html" class = "mydetails-link">My details</a>
      <a href="plan.html" class = "plan-link">Plan</a>
  </div>

  <div class="decorativerectangle"></div>
  <div class="maincircle" name = "photomain"></div>
  <h5>Profile</h5>
  <h6>Update your profile picture and personal detail</h6>
  <a class = "button button:hover">Save</a>
          
  <div class = "rectanglemain">
      <input placeholder="Full Name" type="text" name="fullname" class="fullname-input">
      <input placeholder="Age" type="text" name="age" class="age-input">
      <input placeholder="Pronouns" type="text" name="pronouns" class="pronoun-input">

      <div class = "rectanglebio"></div>
      <h2 class = "bio-header">Bio</h2>
      <h3 class = "bio-des">A short introduction of yourself</h3>
      <input placeholder= "Your introduction" type="text" name="bio" class="bio-input">

      <div class ="rectanglephoto"></div>
      <h2 class = "uploadphoto-header">Upload photo</h2>
      <h3 class = "uploadphotodes">This photo will be displayed on your profile</h3>
      <a class = "button1 button12:hover">Upload</a>
      <a class = "button2 button12:hover">Delete</a>
      <a class = "circle" name = "photoupload"></a>

  </div>

</body>
</html>