<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>

    <link rel="stylesheet" type="text/css" href="styles/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <h1><a href="/" style="text-decoration: none;" class="white-link">GYMDER</a></h1>
        </div>
        <div class="links-to-pages">
            <a href="home" class="nav-bar-item smooth-text">Home</a>
            <a href="recommendations" class="nav-bar-item smooth-text">Recommendations</a>
            <a href="friends" class="nav-bar-item smooth-text">Friends</a>
            <a href="matchrequests" class="nav-bar-item smooth-text">Requests</a>
            <a href="profile" class="nav-bar-item smooth-text">Profile</a>
        </div>
    </div>
    <div id="body-of-page-recs">
        <div id="recs-page-container">
            <h1 style="font-size: 40px;">Match Recommendations</h1>
        </div>
    </div>
    <script src="scripts/recsdivs.js"></script>
</body>
</html>