<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Sign Up</title>
</head>

<body>
    <h1><a class="backtohomelogin smooth-text" href="index.html">⇦ Back to Home</a></h1>
    <div class="centering-div">
        <div id="main-container-signup">
            <h1  class="login-signup-title">Create a new account</h1>
            <form class="login-signup-form" action="signup.html" method="POST">
                <input placeholder="E-mail address" type="text" name="email" class="smooth-background">
                <input placeholder="Username" type="text" name="username" class="smooth-background">
                <input placeholder ="Password" type="password" name="password" class="smooth-background">
                <input placeholder="Confirm password" type="password" name="repeatpassword" class="smooth-background">
                <button class="smooth-background">Sign up</button>
            </form>
            <h3>Already have an account? <a class="orange-link smooth-text" href="login.html">Log in</a></h3>
        </div>
    </div>
</body>
</html>