html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #0C1421;
}

.wholepage {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.middlepage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    
    width: 70vw;
    height: 80vh;
}

.decorativerectangle {
    position: relative;
    width: 100%;
    height: 20%;

    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 107, 0, 0) 54.11%, rgba(101, 51, 13, 0.2) 100%), #FD984B;
    background-blend-mode: overlay, normal;
    border-radius: 60px 0px;
}

.upperheaders {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1%;

    width: 100%;
    height: 15%;
}

.headers {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 40%;
}

h1 {
    position: relative;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 1px;

    color: #CCC9DC;
}

h2 {
    position: relative;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 135%;
    line-height: 2px;

    color: #7E7E82;
}

.savebox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 100%;
}

.button {
    position: relative;
    width: 65px;
    height: 45px;

    border-style: hidden;
    border-radius: 30%;

    background-color: #EE8434;
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 620;
    font-size: 24px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: #000000;
}

.button:hover {
    cursor: pointer;
    color: #EE8434;
    background-color: #101d30;
}

.userinfo {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%;

    background: #1B2A41;
    border-radius: 40px;
}

.input-and-button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 35%;
}

.userinputs {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    width: 70%;
    height: 100%;
}

.fullname-input {
    position: relative;
    width: 95%;
    height: 18%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color:white;
    
    background-color: #324A5F;
}

.age-input {
    position: relative;
    width: 95%;
    height: 18%;
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color:white;
        
    background-color: #324A5F;
}

.pronoun-input {
    position: relative;
    width: 95%;
    height: 18%;
    align-items: center;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color:white;
    
    background-color: #324A5F;
}

.genderbuttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 100%;
}

.genderbox {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3%;

    width: 100%;
    height: 80%;
    background: #324A5F;
}

.gender {
    position: relative;

    width: 100%;
    height: 30%;
}

h4 {
    position: relative;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 0px;
    left: 1%;

    color: #7E7E82;    
}

.radiobuttons {
    position: relative;

    top: 5%;
    width: 100%;
    height: 70%;
}

.radio{
    position: relative;
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 5px;

    color: #afafb3;
}

.bio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28%;
}

.rectanglebio {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 90%;
    height: 90%;

    background: #324A5F;
}

.biodes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 20%;
}

h5 {
    position: relative;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
    left: 1%;

    color: #BFBFC0;
}

.inputbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.bio-input {
    position: relative;
    width: 92%;
    height: 75%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: black;

    padding-left: 1%;

    background-color: #DDDDE7;
}

.photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.rectanglephoto {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 90%;
    height: 80%;

    background: #324A5F;
}

.photodes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.uploadphoto {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    align-items: center;
}

.circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;

    background: #DDDDE7;
}

.buttonbox {
    position: relative;
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button1 {
    position: relative;
    width: 50px;
    height: 35px;

    border-style: hidden;
    border-radius: 30%;

    background-color: #f09753;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: #000000;

}

.button1:hover {
    cursor: pointer;
    color: #f09753;
    background-color: #101d30;
}