html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #0C1421;
}

h1 {
    position: absolute;
    width: 15%;
    height: 15%;
    left: 13%;
    top: -29%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 240%;
    line-height: 120%;
    text-align: center;

    color: #CCC9DC;
}

h2 {

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 155%;
    line-height: 120%;
    display: flex;
    align-items: center;

    color: #7E7E82;
}

h3 {

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    line-height: 120%;

    color: #BFBFC0;
}

h5 {
    position: absolute;
    width: 5%;
    height: 4%;
    left: 26.5%;
    top: 17%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 345%;
    line-height: 120%;
    text-align: center;

    color: #CCC9DC;
}

h6 {
    position: absolute;
    width: 20%;
    height: 3%;
    left: 25%;
    top: 27%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 135%;
    line-height: 135%;
    text-align: center;

    color: #7E7E82;
}

.decorativerectangle {
    position: absolute;
    width: 51.7%;
    height: 18%;
    left: 23%;
    top: 7%;

    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 107, 0, 0) 54.11%, rgba(101, 51, 13, 0.2) 100%), #FD984B;
    background-blend-mode: overlay, normal;
    border-radius: 20% 0%;
}

.button {
    position: absolute;
    width: 2.8%;
    height: 4.3%;
    left: 71%;
    top: 26%;
    border-style: hidden;
    border-radius: 30%;

    background-color: #EE8434;
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 160%;
    line-height: 170%;
    padding-left: 1%;
    text-align: center;
    display: flex;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: #000000;
}

.button:hover {
    cursor: pointer;
    color: #EE8434;
    background-color: #0C1421;
}

.rectanglemain {
    position: absolute;
    width: 51.7%;
    height: 61%;
    left: 23%;
    top: 37%;

    background: #1B2A41;
    border-radius: 10%;
}

.rectanglebio {
    position: absolute;
    width: 86.4%;
    height: 22%;
    left: 6.6%;
    top: 40.5%;

    background: #324A5F;
}

.bio-header {
    position: absolute;
    width: 15%;
    height: 7%;
    left: 7%;
    top: 39%;
}

.bio-des {
    position: absolute;
    width: 15%;
    height: 10%;
    left: 7%;
    top: 46%;
}

.bio-input {
    position: absolute;
    width: 46%;
    height: 15%;
    left: 34%;
    top: 43.5%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 115%;
    line-height: 7%;
    display: flex;
    align-items: center;
    color: black;

    padding-left: 1%;

    background-color: #DDDDE7;
}

.rectanglephoto {
    position: absolute;
    width: 86.4%;
    height: 26%;
    left: 6.6%;
    top: 67%;

    background: #324A5F;
}

.uploadphoto-header {
    position: absolute;
    width: 15%;
    height: 5%;
    left: 7%;
    top: 67%;
}

.uploadphotodes {
    position: absolute;
    width: 15%;
    height: 10%;
    left: 7%;
    top: 73.5%;
}

.circle {
    position: absolute;
    width: 13.5%;
    height: 21.7%;
    left: 34%;
    top: 69%;
    border-radius: 100%;

    background: #DDDDE7;
}

.button1 {

    position: absolute;
    width: 4.8%;
    height: 4.5%;
    left: 58%;
    top: 75%;
    border-style: hidden;
    border-radius: 30%;

    background-color: #f09753;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 620;
    font-size: 110%;
    line-height: 10%;
    display: flex;
    padding-left: 1%;
    align-items: center;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: #000000;

}

.button1:hover {
    cursor: pointer;
    color: #f09753;
    background-color: #101d30;
}

.button2 {

    position: absolute;
    width: 4.5%;
    height: 4.5%;
    left: 68%;
    top: 75%;
    border-style: hidden;
    border-radius: 30%;

    background-color: #f09753;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 620;
    font-size: 110%;
    line-height: 10%;
    display: flex;
    align-items: center;
    padding-left: 1.2%;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    color: #000000;
}

.button2:hover {
    cursor: pointer;
    color: #f09753;
    background-color: #101d30;
}

.settings-div {
    position: absolute;
    width: 7.2%;
    height: 16%;
    top: 9%;
    left: 5%;
    background-color: #1B2A41;
    display: flex;
}

.mydetails-link {
    position: absolute;
    left: 20%;
    height: 60%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 160%;
    line-height: 15%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E82;
}

.plan-link {
    position: absolute;
    left: 20%;
    height: 115%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 600;
    font-size: 160%;
    line-height: 15%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E82;
}

.fullname-input {
    position: relative;
    width: 85.5%;
    height: 6.7%;
    left: 6.6%;
    top: 6%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 145%;
    line-height: 5%;
    display: flex;
    align-items: center;
    color:white;
    
    background-color: #324A5F;
}

.age-input {
    position: relative;
    width: 85.5%;
    height: 6.7%;
    left: 6.6%;
    top: 9.5%;
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 145%;
    line-height: 5%;
    display: flex;
    align-items: center;
    color:white;
        
    background-color: #324A5F;
}

.pronoun-input {
    position: relative;
    width: 85.5%;
    height: 6.7%;
    left: 6.6%;
    top: 13%;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 145%;
    line-height: 5%;
    display: flex;
    align-items: center;
    color:white;
    
    background-color: #324A5F;
}
