html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.tab {
    position: relative;
    padding-left: 3%;
}

body {
    background-color: #0C1421;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    color: #CCC9DC;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
    color: #CCC9DC;
    font-size: 40px;
}

h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    color: #CCC9DC;
    font-size: 30px;
}

p {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 300;
    color: #CCC9DC;
    font-size: 24px;
}

input {
    background-color: #324A5F;
    border-radius: 10px;
    color: #CCC9DC;
    height: 40px;
    width: 90%;
    outline: none;

    border-style: inset;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    border-right-style: groove;
    border-color: #0C1421;
    border-top-color: #324A5F;
    border-left-color: #324A5F;

    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    font-size: 22px;

    padding-left: 10px;
}

input:hover {
    background-color: #384f64;
}

input::placeholder {
    color: #CCC9DC, 50%;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    font-size: 22px;
}

input:focus {
    border-bottom-style: groove;
    border-right-style: groove;
    border-color: #0C1421;
    background-color: #273d51;

    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

button {
    color: #0C1421;
    background-color: #EE8434;
    width: 150px;
    height: 50px;
    border-style: hidden;
    border-radius: 10px;

    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
    font-size: 24px;
}

button:hover {
    cursor: pointer;
    color: #EE8434;
    background-color: #0C1421;
}

.centering-div {
    display: flex;
    justify-content: center;
    text-align: center;
}

.backtohomelogin {
    color: #CCC9DC;
    text-decoration: none;
    padding-left: 10px;
}

.backtohomelogin:hover {
    color: #7e7e82;
}

.orange-link {
    color: #EE8434;
}

.orange-link:hover {
    color: #d75d00;
}

.white-link {
    color: #CCC9DC;
    text-decoration: none;
}

.white-link:visited {
    color: #CCC9DC;
}

#main-container-login {
    position: absolute;
    top: 20%;
    height: 400px;
    width: 600px;
    background-color: #1B2A41;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    border-style: inset;
    border-bottom-style: groove;
    border-right-style: groove;
    border-color: #050a11;
    border-width: 3px;
}

#main-container-signup {
    position: absolute;
    top: 15%;
    height: 525px;
    width: 600px;
    background-color: #1B2A41;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    border-style: inset;
    border-bottom-style: groove;
    border-right-style: groove;
    border-color: #050a11;
    border-width: 3px;
}

.login-signup-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-signup-title {
    padding-top: 20px;
    font-size: 40px;
}

.smooth-background {
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

.smooth-text {
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.nav-bar-container {
    position: relative;
    top: 0%;
    left: 0%;
}

.nav-bar {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 0px;
    background-color: #324A5F;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom-style: outset;
    border-color: #050a11;
    border-width: 10px;
}

.links-to-pages {
    position: relative;
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
}

.nav-bar-item {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
    color: #CCC9DC;
    font-size: 30px;
    text-decoration: none;
}

.nav-bar-item:hover {
    color: #7e7e82;
}

.body-of-page {
    position: absolute;
    left: 3.5%;
    top: 70px;
    height: 90%;
    width: 90%;
}

#body-of-page-recs {
    position: absolute;
    left: 3.5%;
    top: 70px;
    height: 90%;
    width: 90%;
}

#homepage-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    color: #CCC9DC;
    font-size: 60px;
}

#home-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    color: #CCC9DC;
    font-size: 120px;
}

.recommendation-container {
    border-radius: 10px;
    border-bottom-style: groove;
    border-right-style: groove;
    border-color: #050a11;
    border-width: 8px;
}

.recommendation {
    height: 150px;
    width: 100%;
    background-color: #EE8434;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.recommendation:hover {
    background-color: #d75d00;
    cursor: pointer;
}

.friend {
    height: 150px;
    width: 100%;
    background-color: #324A5F;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.rec-info-container {
    height: 100%;
    width: 95%;
    background-color: #324A5F;
    border-radius: 10px;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.rec-profile-pic {
    height: 80px;
    width: 80px;
    background-color: #27B6AD;
    border-radius: 100%;
}

.rec-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rec-info-parameters {
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 100px;
}

.rec-info-parameters-names {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.rec-info-parameters-fullname-text {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
    color: #CCC9DC;
    font-size: 28px;
}

.rec-info-parameters-username-text {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    color: rgb(204,201,220,50%);
    font-size: 20px;
}

.rec-info-parameters-days {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.rec-info-parameters-seven-days {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.rec-info-parameters-seven-days-day {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
    color: rgb(204,201,220,50%);
    font-size: 28px;
}

.rec-info-parameters-gym {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.rec-info-parameters-gym-text {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    color: rgb(204,201,220,50%);
    font-size: 28px;
}

.rec-info-parameters-age {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.rec-info-parameters-age-text  {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    color: rgb(204,201,220,50%);
    font-size: 28px;
}

.rec-info-parameters-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
    color: #CCC9DC;
    font-size: 28px;
}

.arrow-send {
    position: relative;
    left: 10px;
}

.rec-info-bio-text {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    color: #CCC9DC;
    font-size: 20px;
}

.accept-request {
    height: 150px;
    width: 100%;
    background-color: #1d8848;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.accept-request:hover {
    background-color: #106d35;
    cursor: pointer;
}

.cancel-request {
    height: 150px;
    width: 100%;
    background-color: #c41414;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.cancel-request:hover {
    background-color: #a50f0f;
    cursor: pointer;
}

.material-symbols-outlined {
    color: #0C1421;

    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}
