#app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.tab {
  position: relative;
  padding-left: 3%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #0C1421;
}

h1 {
  font: 800 48px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

h2 {
  font: 600 40px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

h3 {
  font: 400 30px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

p {
  font: 300 24px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

input {
  background-color: #324A5F;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  font: 400 22px "Big Shoulders Display", cursive;
  color: #CCC9DC;
  height: 40px;
  width: 90%;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  border-style: none outset outset none;
  border-color: #0C1421;
}
input:hover {
  background-color: #3f5d77;
}
input::placeholder {
  font: 400 22px "Big Shoulders Display", cursive;
  color: #CCC9DC, 50%;
}
input:focus {
  background-color: #2d4356;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

button {
  font: 600 24px "Big Shoulders Display", cursive;
  color: #CCC9DC;
  color: #0C1421;
  background-color: #EE8434;
  width: 150px;
  height: 50px;
  border-style: hidden;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  color: #EE8434;
  background-color: #0C1421;
}

.centering-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.backtohomelogin {
  color: #CCC9DC;
  text-decoration: none;
  padding-left: 10px;
}
.backtohomelogin:hover {
  color: #a8a3c3;
}

.orange-link {
  color: #EE8434;
}
.orange-link:hover {
  color: #e36d13;
}

.white-link {
  color: #CCC9DC;
  text-decoration: none;
}
.white-link:visited {
  color: #CCC9DC;
}

#main-container-login {
  position: absolute;
  top: 20%;
  height: 400px;
  width: 600px;
  background-color: #1B2A41;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border-style: inset outset outset inset;
  border-color: #050a11;
  border-width: 3px;
}

#main-container-signup {
  position: absolute;
  top: 15%;
  height: 525px;
  width: 600px;
  background-color: #1B2A41;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-style: inset outset outset inset;
  border-color: #050a11;
  border-width: 3px;
}

.login-signup-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.login-signup-title {
  padding-top: 20px;
  font-size: 40px;
}

.smooth-background {
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.smooth-text {
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.nav-bar-container {
  position: relative;
}

.nav-bar {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 0px;
  background-color: #1B2A41;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-style: outset;
  border-color: #050a11;
  border-width: 10px;
}

.links-to-pages {
  position: relative;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.nav-bar-item {
  font: 600 30px "Big Shoulders Display", cursive;
  color: #CCC9DC;
  text-decoration: none;
}
.nav-bar-item:hover {
  color: #a8a3c3;
}

.body-of-page {
  position: absolute;
  left: 3.5%;
  top: 70px;
  height: 90%;
  width: 90%;
}

#body-of-page-recs {
  position: absolute;
  left: 3.5%;
  top: 70px;
  height: 90%;
  width: 90%;
}

#homepage-title {
  font: 800 60px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

#home-title {
  font: 800 120px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.recommendation-container {
  border-radius: 10px;
  border-bottom-style: outset;
  border-right-style: outset;
  border-color: #050a11;
  border-width: 8px;
}

.recommendation {
  height: 150px;
  width: 100%;
  background-color: #EE8434;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.recommendation:hover {
  cursor: pointer;
  background-color: #e36d13;
}

.friend {
  height: 150px;
  width: 100%;
  background-color: #324A5F;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.rec-info-container {
  height: 100%;
  width: 95%;
  background-color: #324A5F;
  border-radius: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.rec-profile-pic {
  height: 80px;
  width: 80px;
  background-color: #27B6AD;
  border-radius: 100%;
}

.rec-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rec-info-parameters {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.rec-info-parameters-names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.rec-info-parameters-fullname-text {
  font: 600 28px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.rec-info-parameters-username-text {
  font: 400 20px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.rec-info-parameters-days {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

.rec-info-parameters-seven-days {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.rec-info-parameters-seven-days-day {
  font: 600 28px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.rec-info-parameters-gym {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.rec-info-parameters-gym-text {
  font: 400 28px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.rec-info-parameters-age {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.rec-info-parameters-age-text {
  font: 400 28px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.rec-info-parameters-title {
  font: 600 28px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.arrow-send {
  position: relative;
  left: 10px;
}

.rec-info-bio-text {
  font: 400 20px "Big Shoulders Display", cursive;
  color: #CCC9DC;
}

.accept-request {
  height: 150px;
  width: 100%;
  background-color: #1d8848;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.accept-request:hover {
  background-color: #106d35;
  cursor: pointer;
}

.cancel-request {
  height: 150px;
  width: 100%;
  background-color: #c41414;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.cancel-request:hover {
  background-color: #a50f0f;
  cursor: pointer;
}

.material-symbols-outlined {
  color: #0C1421;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

/*# sourceMappingURL=test.css.map */
